<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>Page not found</title>
		{% include "snippets/meta.html" %}
		{% include "snippets/sassy_site_css.html" %}
		{% include "snippets/site_js.html" %}
	</head>

	<body>
		<div style="padding-top:10%;padding-bottom:10%; text-align:center">
			<h1 style="font-size:48px;">404</h1>
			<p>Page not Found</p>
			<p>Not all who wander are lost, but you are.</p>
			<a href="/">Take me home</a>
		</div>
		{% include "snippets/site_footer_js.html" %}
	</body>
</html>
