<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>Internal Server Error</title>
		{% include "snippets/meta.html" %}
		{% include "snippets/sassy_site_css.html" %}
		{% include "snippets/site_js.html" %}
	</head>
	
	<body>
		<div style="padding-top:10%;padding-bottom:10%; text-align:center">
			<h1 style="font-size:48px; margin-bottom:0px;">500</h1>
			<p>Internal Server Error</p>
			<p>Please refresh your page or try again later.</p>
		</div>
		{% include "snippets/site_footer_js.html" %}
	</body>
</html>
